@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import 'tailwindcss';
@import './shared/lib/fonts/AktivGrotesk.css';

@theme {
  /* Breakpoints */
  --breakpoint-xs: 360px;
  --breakpoint-mobile: 500px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;

  /* Colors */
  --color-grey: #1e1e1e;
  --color-dark-grey: #7c7c7c;
  --color-light-grey-stroke: #ebebeb;
  --color-pink-light: #f6f3fc;
  --color-black: #282529;

  /* Gradients */
  --gradient-button: linear-gradient(180deg, #b55dd9 0.01%, #5054c9 100%);

  /* Fonts */
  --font-family-aktiv-grotesk: 'AktivGrotesk', system-ui, sans-serif;
  --font-family-open-sans: 'Open Sans', system-ui, sans-serif;

  /* Typography */
  --text-9: 0.5625rem; /* 9px */
  --text-11: 0.6875rem; /* 11px */
  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-15: 0.9375rem; /* 15px */
  --text-base: 1rem; /* 16px */
  --text-xl: 1.25rem; /* 20px */
  --text-2xl: 1.5rem; /* 24px */
}

@utility container {
  max-width: var(--breakpoint-2xl);
  margin-inline: auto;
}

@utility bg-gradient-button {
  background: var(--gradient-button);
}

@utility backdrop-blur-chip {
  backdrop-filter: blur(4.53px);
}

@utility text-gradient {
  background: var(--gradient-button);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@layer base {
  html,
  body {
    height: 100%;
    overflow: hidden;
  }

  body {
    font-family: var(--font-family-open-sans);
    color: var(--color-black);
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #f6f3fc;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--gradient-button);
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #a347c7 0.01%, #4048b5 100%);
  }
}
